<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azure AD Integration Example</title>
</head>
<body>
    <h1>Welcome, {{ user['displayName'] }}</h1>
    
    <h2>User Information:</h2>
    <ul>
        <li><strong>Username:</strong> {{ user['userPrincipalName'] }}</li>
        <li><strong>Roles:</strong> {{ user['roles'] }}</li>
    </ul>
    
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
